<h1>Cars</h1>
<p>This component demonstrates fetching data from the server.</p>
<p *ngIf="!car"><em>Loading...</em></p>
<table class='table' *ngIf="car">
    <thead>
        <tr>
            <th>VIN</th>
            <th>CarMake</th>
            <th>CarModel</th>
            <th>ServiceIncidences</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ca of car">
            <td>{{ ca.vin }}</td>
            <td>{{ ca.carModel.carMake.carMakeName }}</td>
            <td>{{ ca.carModel.carModelName }}</td>
            <td>
                <ul>
                    <li *ngFor="let si of ca.serviceIncidences">{{ si.serviceIncidenceName.incidenceName }} {{ si.repairDate | date:'yyyy. MM. dd.'}}</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>
