<div class="row margin-top-05">
    <div class="col-md-12">
        <form [formGroup]="searchForm" class="form-inline" novalidate>
            <input #lastName type="text" formControlName="lastName" placeholder="Ügyfél vezetékneve" class="form-control" />
            <input #firstName type="text" formControlName="firstName" placeholder="Ügyfél keresztneve" class="form-control" />
            <input #licensePlate type="text" formControlName="licensePlate" placeholder="Rendszám" class="form-control" />
            <select #carmakeselected formControlName="carMakeID" (change)="SelectedCarMake(carmakeselected.value)" class="form-control">
                <option disabled hidden [value]="undefined">Jármű márka</option>
                <option *ngFor="let carMake of carMakes" [value]="carMake.carMakeID">{{carMake.carMakeName}}</option>
            </select>

            <select #carmodelselected formControlName="carModelID" (change)="SelectedCarModel(carmodelselected.value)" class="form-control">
                <option disabled hidden [value]="undefined">Jármű típus</option>
                <option *ngFor="let carModel of carModels" [value]="carModel.carModelID">{{carModel.carModelName}}</option>
            </select>

            <input type="submit" (click)="StartSearch(firstName.value, lastName.value, licensePlate.value, carmakeselected.value, carmodelselected.value)" value="Keresés" class="btn btn-primary" />
        </form>
    </div>
</div>
<p *ngIf="!cars && submitted"><em>Loading...</em></p>

<table class="table table-bordered margin-top-10" *ngIf="cars">
    <thead>
        <tr>
            <th>Ügyfél neve</th>
            <th>Jármű márka, típus</th>
            <th>Rendszám</th>
            <!--<th>ServiceIncidences</th>-->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let car of cars" (click)="ViewCar(car.carID)">
            <td>{{ car.customer.lastName }} {{ car.customer.firstName}}</td>
            <td>{{ car.carModel.carMake.carMakeName }} {{ car.carModel.carModelName }}</td>
            <td>{{ car.licensePlate}}</td>
            <!--<td>
                <ul>
                    <li *ngFor="let si of car.serviceIncidences">
                        {{ si.serviceIncidenceName.incidenceName }} {{ si.repairDate | date:'yyyy. MM. dd.'}}
                        <ul>
                            <li *ngFor="let carpart of si.serviceIncidenceCarPart">{{carpart.carPart.carPartName}} {{carpart.carPart.price}}</li>
                        </ul>
                    </li>
                </ul>
            </td>-->
        </tr>
    </tbody>
</table>
