
<h3>Új</h3>
<select>
    <option *ngFor="let carMake of carMakes" value="{{carMake.carMakeID}}">{{carMake.carMakeName}} {{carMake.carMakeID}}</option>
</select>
<form [formGroup]="carForm" novalidate>
    <div class="form-group">
        <label for="carMakeID">Jármű márka</label>
        <input class="form-control" id="name" formControlName="carMakeID" [style.border-color]="'red'">
        <label for="carModelID">Jármű típus</label>
        <input class="form-control" id="name" formControlName="carModelID" [style.border-color]="'red'">
        <label for="FuelTypeID">Üzemanyag típus</label>
        <input class="form-control" id="name" formControlName="FuelTypeID" [style.border-color]="'red'">
        <label for="VIN">Alvázszám</label>
        <input class="form-control" id="name" formControlName="VIN" [style.border-color]="'red'">
        <label for="color">Szín</label>
        <input class="form-control" id="name" formControlName="color" [style.border-color]="'red'">
        <label for="customerID">CustomerID</label>
        <input class="form-control" id="name" formControlName="customerID" [style.border-color]="'red'">
        <label for="engineNumber">Motorszám</label>
        <input class="form-control" id="name" formControlName="engineNumber" [style.border-color]="'red'">

        <div *ngIf="carForm.controls.carMakeID.hasError('required')" class="alert alert-danger">Name is required!</div>
        <div *ngIf="carForm.controls.carMakeID.hasError('maxlength')" class="alert alert-danger">Name is too long!</div>
        <div *ngIf="carForm.controls.carMakeID.hasError('dupe')" class="alert alert-danger">Name is a duplicate!</div>
    </div>


    <button type="submit" class="btn btn-primary" (click)="saveCar()"
            [disabled]="!carForm.valid"><!---->
        Save
        <span class="glyphicon glyphicon-refresh glyphicon-spin"></span>
    </button>
    <button type="button" class="btn btn-warning" (click)="cancel()">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
    <button type="button" class="btn btn-default" (click)="back()">Back</button>

    <!--<div *ngIf="!carForm.valid" class="alert alert-danger">Correct all invalid values to enable save.</div>-->

</form>