
<h3>Új</h3>
<form [formGroup]="carForm" novalidate>
    <div class="form-group" [ngClass]="{'has-error':!customerForm.controls['lastName'].valid}">
        <label class="col-md-4 control-label">Vezetéknév*</label>
        <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input name="LastName" id="LastName" placeholder="Vezetéknév" formControlName="lastName" class="form-control" type="text">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-lg-4">
            <div class="form-group">
                <label for="carMakeID">Jármű márka</label>
                <select #carmakeselected formControlName="carMakeID" (change)="SelectedCarMake(carmakeselected.value)" class="form-control">
                    <option *ngFor="let carMake of carMakes" [value]="carMake.carMakeID">{{carMake.carMakeName}} {{carMake.carMakeID}}</option>
                </select>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-lg-4">
            <div class="form-group">
                <label for="carModelID">Jármű típus</label>
                <select #carmodelselected formControlName="carModelID" (change)="SelectedCarModel(carmodelselected.value)" class="form-control">
                    <option *ngFor="let carModel of carModels" [value]="carModel.carModelID">{{carModel.carModelName}} {{carModel.carModelID}}</option>
                </select>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-lg-4">
            <div class="form-group">
                <label for="fuelTypeID">Üzemanyag típus</label>
                <select #fueltypeselected formControlName="fuelTypeID" (change)="SelectedFuelType(fueltypeselected.value)" class="form-control">
                    <option *ngFor="let fuelType of fuelTypes" [value]="fuelType.fuelTypeID">{{fuelType.fuelTypeName}}</option>
                </select>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-lg-4">
            <div class="form-group">
                <label for="vin">Alvázszám</label>
                <input class="form-control" type="text" id="vin" formControlName="vin" />
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-lg-4">
            <div class="form-group">
                <label for="engineNumber">Motorszám</label>
                <input class="form-control" type="text" id="engineNumber" formControlName="engineNumber" />
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-lg-4">
            <div class="form-group">
                <label for="color">Szín</label>
                <input class="form-control" type="text" id="color" formControlName="color" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-lg-4">
            <div class="form-group">
                <label for="licenseplate">licenseplate</label>
                <input class="form-control" id="licenseplate" formControlName="licenseplate">
            </div>
        </div>
    </div>


            <button type="submit" class="btn btn-primary" (click)="saveCar()"
                    [disabled]="!carForm.valid">
                <!---->
                Save
                <span class="glyphicon glyphicon-refresh glyphicon-spin"></span>
            </button>
            <button type="button" class="btn btn-warning" (click)="cancel()">Cancel</button>
            <button type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
            <button type="button" class="btn btn-default" (click)="back()">Back</button>

            <!--<div *ngIf="!carForm.valid" class="alert alert-danger">Correct all invalid values to enable save.</div>-->

</form>